SEARCH_PROVIDER=serpapi
SEARCH_RESULTS_PER_QUERY=10

SERPAPI_API_KEY=
BRAVE_SEARCH_API_KEY=

GOOGLE_CLOUD_PROJECT_ID=
GOOGLE_API_KEY=
GOOGLE_API_KEY_ID=
GOOGLE_OAUTH_CLIENT_ID=
GOOGLE_OAUTH_CLIENT_SECRET=
GOOGLE_SERVICE_ACCOUNT_EMAIL=
GOOGLE_CSE_ID=
